body {
	margin:0 0 0 0;
	background-image:url(../resources/img/back2.png);
	background-repeat:repeat;
}

table {
	margin: 0 auto; /* sempre alinha o div ou elemento no centro */
}

label {
	margin-left: 70px;
	font-weight: bold;
	color: #000;
	font-family: arial;
	font-size: 16px;
}

button {
	margin-left: 55px;
}

.conteudo {
	width:400px;
	height:379px;
	position:relative;
	margin:0 auto;	
}

.login {
	width:400px;
	height:310px;
	float: left;
	position:relative;
	/* background-image: url(../../lib/img/ipad_back.png); */
	background-repeat:no-repeat;
	top:80px;	
}

.inputs {
	position:relative;
	top:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	padding-top:40px;
}

.inp {
	width:190px;
	height:30px;
	background-image:url(../resources/img/fundoinput.png);
	background-repeat:no-repeat;
	border:none;
	padding-left:5px;
	font-family:Arial, Helvetica, sans-serif;
}

.btnall {	
	/* float: right; */ 
	width:auto;
	height:auto;					
	margin-left: 150px;
}